*{
    margin: 0;
    padding: 0;
}

h1 {
    background-color:aquamarine;
    color: #31326F;
    text-align: center;
    padding: 2%;
    font-size: 400%;
    font-family:monospace ;
}

.choice {
    height: 100px;
    width: 100px;
}
.choice:hover {
    opacity: 0.7;
    cursor: pointer;
}   

img {
    height: 220px;
    width: 220px;
    object-fit: cover;
    margin: 30px;
    border-radius: 50%;
}

.choices {
    text-align: center;
    margin: 30px;
    gap: 4rem;
}

.scoreboard, #message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    gap: 40px;
}

#message {
    margin: 4rem;
    display: inline;
    background-color: #4FB7B3;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}
*
#comp-score , #user-score {
    font-size: 4rem;
}

.messagecontainer {
    margin: 2rem;
    justify-content: center;
    text-align: center;
}